@media(max-width:533px){
    .icons a svg {
        width:30px;
        height:30px;
        margin-right: 10px;
    }
    .navbar-toggler{
        margin-right: 15px;
    }
    .navbar-brand img {
        margin-left: 15px !important;
    }
}
@media(max-width:430px) {
    .navbar-brand h1{
        font-size: 1em;
        margin-top:5px;
    }

}