@media(max-width:1037px) {
    .nav-item {
        margin-left: 8px;
        margin-right: 10px;
    }

    .icons {
        margin-left: 5px;
    }

    .icons a svg {
        margin-right: 20px;
    }
}

@media(max-width:991px) {

    .navbar-brand h1,
    .navbar-toggler,
    .navbar-brand img,
    .icons {
        margin-bottom: 20px;
    }

    .offcanvas ul {
        margin-top: 20px;
    }

    .offcanvas ul li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-bottom: 1px solid #BCD8C1;
    }

    .offcanvas ul li:first-child {
        border-top: 1px solid #BCD8C1;
    }
}

@media(max-width:775px) {

    .navbar-brand h1,
    .navbar-toggler,
    .navbar-brand img,
    .icons {
        margin-bottom: 0px;
    }

    .navbar-toggler {
        margin-right: 20px;
    }
}

@media(max-width:533px) {
    .icons a svg {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .navbar-toggler {
        margin-right: 15px;
    }

    .navbar-brand {
        margin-right: 0px;
    }

    .navbar-brand img {
        margin-left: 15px !important;
    }
}

@media(max-width:447px) {
    .navbar-brand h1 {
        font-size: 1em;
        margin-top: 5px;
    }

    .navbar-brand {
        margin-left: 5px !important;
    }

    .navbar-toggler {
        margin-left: 0px;
        margin-right: 5px;
    }

    .navbar-brand h1 {
        margin-right: 5px;
    }

    .navbar-brand img {
        margin-left: 5px !important;
    }
}

@media(max-width:373px) {
    .container-fluid {
        padding-left: 6px;
        padding-right: 6px;
    }

    .navbar-brand {
        margin-left: 2px !important;
    }

    .icons {
        margin-left: 2px !important;
        margin-right: 0px !important;
    }

    .icons a svg {
        margin-right: 5px !important;
    }

    .navbar-brand {
        margin-right: 5px !important;
    }

    .navbar-toggler-icon {
        font-size: 0.5em;
    }

    .navbar-brand img {
        width: 40px;
    }
}