body {
    margin: 0px;
    padding: 0px;
    font-family: 'Arimo', sans-serif;
    box-sizing: border-box;
}

main {
    width: 100%;
    margin-top: 100px;
}

.dark-blue-bg {
    background-color: #222E50;
}

.navbar {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 40;
}

.is-fixed {
    position: fixed;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.3s ease, visibility 0s 0.3s linear;
}

.scroll-up {
    transform: translate3d(0, 0, 0);
}

.navbar-nav {
    display: flex;
    justify-content: center;
    font-size: 1.7em;
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-left: 0.5em;
    font-style: italic;
}

.navbar-brand h1 {
    display: inline-block;
    margin-right: 0.35em;
}

.lgreen {
    color: #BCD8C1;
    font-size: 1.5em;
}

.navbar-brand img {
    width: 50px;
    border-radius: 40% 10%;
}

.navbar-brand img:hover {
    box-shadow: 0px 0px 30px #BCD8C1;
    transition: 0.2s;
}

.navbar-brand h1:hover {
    text-shadow: 0px 0px 40px #BCD8C1;
    transition: 0.2s;
}

.nav-item {
    margin: 0px 0.5em;
}

.nav-item:hover,
.navbar-toggler:hover {
    text-shadow: 0px 0px 25px #BCD8C1, 0px 0px 25px #BCD8C1;
    transition: 0.2s;
}

.icons {
    display: flex;
    flex-direction: row-reverse;
}

.icons a svg {
    margin-right: 25px;
}

.icons a svg:hover {
    /* filter: drop-shadow(0px 0px 15px #BCD8C1); */
    color: #BCD8C1 !important;
    transition: 0.2s;
}

.navbar-toggler {
    color: white;
    background-color: #BCD8C1;
    margin-right: 2em;

}

.navbar-collapse {
    display: inline-block;
}

.offcanvas {
    background-color: #222E50;
    width: 30% !important;
    height: 300px;
}

#welcome-screen {
    height: 90.5vh;
}

#welcome-screen img {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 30%;
    max-height: 90.5vh;
}

#welcome-screen img:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 5s;
    animation-duration: 1s;
    z-index: 10;
}

#welcome-screen img:nth-of-type(2) {
    z-index: 5;
}

#welcome-screen img:nth-of-type(n + 3) {
    display: none;
}

@keyframes fader {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

#welcome-title h1 {
    color: black;
    font-size: 5em;
    font-style: italic;
}

#welcome-title h3 {
    color: black;
}

#welcome-title {
    width: 50vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 20vh;
    left: 25vw;
    z-index: 30;
}

#Akcije {
    height: 900px;
    width: 65%;
    margin: 0px auto;
    box-shadow: 0px 0px 30px #222E50, 0px 0px 30px #222E50;
    padding: 0px;
}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-item img {
    width: 100% !important;
    height: 100% !important;
}

.carousel-item:nth-child(2) .carousel-caption,
.carousel-item:nth-child(3) .carousel-caption {
    color: black;
}

#Akcije .img-fluid {
    width: 100%;
    box-shadow: 0px 0px 30px #222E50, 0px 0px 30px #222E50;
}

#kategorije {
    margin-top: 400px;
    height: 650px;
    background-image: url("../img/ShoesFooter.jpg");
    background-repeat: no-repeat;
    background-position: center bottom 0px;
    background-repeat: repeat-x;
}

#kategorije hgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#kategorije-naslov h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

#kategorije-naslov h5 {
    font-size: 1.5em;
}

#kategorije-kartice {
    margin-top: 50px;
}

#kategorije-kartice .row {
    display: flex;
    justify-content: space-around;
}

#kategorije-kartice .row .col-md-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 0px 20px #222E50;
    transition: transform 0.3s, box-shadow 0.3s;
}

#kategorije-kartice .row .col-md-3:hover {
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: 0px 0px 30px #222E50, 0px 0px 30px #222E50;
}

#kategorije-kartice .row .col-md-3 .hcontainer {
    margin-bottom: 20px;
    background-color: #BCD8C1;
    width: 100%;
    padding-top: 5px;
}

#kategorije-kartice .row .col-md-3 img {
    width: 70%;
    height: 70%;
}


footer {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

footer section {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer section:nth-child(2) {
    border-left: 1px solid #BCD8C1;
    border-right: 1px solid #BCD8C1;
    width: 50%;
}

footer section article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer section article p {
    margin: 0px 0px 0px 10px;
}

footer a:hover,
footer h5:hover {
    color: #BCD8C1 !important;
}

.modal-header,
.modal-footer {
    background-color: #222E50;
}

.modal-footer,
.modal-body {
    display: flex;
    justify-content: space-around;
}

.btn-close {
    background-color: white;
    opacity: 1 !important;
}

.btn-close:hover {
    background-color: #BCD8C1;
}